<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard page</title>
    <style>
        h1{
        text-align: center;
        color: deeppink;
    }
    body{
        text-align: center;
        justify-content: center;
        color: black;
        background-color: yellowgreen;
    }
    </style>
</head>
<body>
    <div class="welcome-container">
        <h1>welcome to dashboard...</h1>
        <p><h3>you are logged in successfully...</h3>
            welcome to calculator design.
            <a href="/calculator"><br>
                click here</a>
        </p>
    </div>
</body>
</html>