<!DOCTYPE html>
<head>
    <title>login page</title>
    <link rel=" stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="login-container">
        <h1>login form</form></h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input type="text" id="email" name="email" placeholder="Enter email" required>
            </div>

            <div class="form-group">
                <label for="password">password</label>
                <input type="text" id="password" name="password" placeholder="Enter password" required>
            </div>

            <div>
                <button type="submit" class="btn">submit</button>
            </div>
        </form>
        <p class="dashboard-link">
            welcome to dashboard page.<a href="/dashboard">click here</a>
        </p>
    </div>
</body>
</html>